#!/usr/bin/env bash

exec > >(tee /var/log/user-data.log|logger -t user-data -s 2>/dev/console) 2>&1
    # Download Ansible
    apt update && apt install python3-pip -y && pip3 install ansible

    # Checkout our Ansible playbooks repo
    git clone https://github.com/mikesarfaty/ansible.git
    cd ansible/
    git checkout gmod

    # Run the playbook for this role
    ansible-playbook -i 127.0.0.1, -c local playbooks/garrysmod.yaml
